{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "env": {
      "browser": true,
      "commonjs": true,
      "jquery": true
    },
    "rules": {
        // New rules
        "eqeqeq": "error",
        "no-alert": "error",
        "block-scoped-var": "warn",
        "no-empty": "warn",
        "no-console": "warn",
        "no-extra-semi": "warn",

        // Over-ride recommended rules
        "no-debugger": "warn",

        // Stylistic
        "semi": "warn",
        "quotes": ["warn", "single"]
    }
}
